.cart{
     position: absolute;
     right: 20px;
     top: 100px;
     z-index: 200;
     background-color: whitesmoke;
    height: 520px;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
     .item{
        img{
            width: 150px;
            height: auto;
        }
     }
}